/*
 * CSS Patrociname
 */

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:500i|Righteous|Varela+Round&display=swap');

/*
 * font-family: 'Righteous', cursive;
 * font-family: 'Varela Round', sans-serif;
 * font-family: 'Kanit', sans-serif;
 */

body {  padding: 0px;  margin: 0px;  border: 0px; }

/* Index Containers */
.cont-all-bg-video {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

.cont-all-index {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* -- */
  display: grid;
  grid-template-rows: auto auto 2fr 0.5fr 1fr;
  grid-template-columns: auto;
}

.cont-all-index > div {
  justify-self: stretch;
  align-self: stretch;
  position: relative;
}

.cont-all-index { grid-column: 1 / 2; grid-row: 1 / 2;}
.cont-index-buttons { grid-column: 1 / 2; grid-row: 2 / 3;}
.cont-index-forms { grid-column: 1 / 2; grid-row: 3 / 4;}
.cont-index-api { grid-column: 1 / 2; grid-row: 4 / 5;}
.cont-index-footer { grid-column: 1 / 2; grid-row: 5 / 6;}

/* -- Index Header */

header {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header > div:first-child > svg {
  width: 70px;
}

header > div:nth-child(2) > h1 {
  padding: 0px;
  margin: 0px;
  font-family: 'Kanit', sans-serif;
}

header > div:nth-child(2) {
  margin-left: 15px;
}

header > div:nth-child(3) {
  margin: 13px 0px 0px 5px;;
}

header > div:nth-child(3) > h5 {
  padding: 0px;
  margin: 0px;
  font-family: 'Kanit', sans-serif;
  font-weight: lighter;
}

header > ul {
  margin-left: auto;
  /* -- */
  padding: 0px;
  display: flex;
  flex-direction: row;
}

header > ul > li {
  list-style: none;
  margin-right: 15px;
}

header > ul > li:last-of-type {
  margin-right: 0px;
}

header > ul > li > i {
  font-size: 1.8em;
}

/* -- Index Forms -- */
.cont-index-forms > div[class*='cont-'] {
  display: none; /* Important, function with JS */
  height: 100%;
  /* -- */
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.cont-index-forms > div[class*='cont-'] > form {
  background-color: rgba( 195, 112, 7, 0.8); /* -- MARRON -- */
  border-radius: 4px;
  margin: 25px auto;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.cont-index-forms > div[class*='cont-'] > form > h4 {
  padding: 0px;
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  color:  rgb(223, 189, 146);
}

.cont-index-forms > div[class*='cont-'] > form > .field {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 0px 0px;
}

.cont-index-forms > div[class*='cont-'] > form > .field > label {
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  color: rgb(223, 189, 146);
}


.cont-index-forms > div[class*='cont-'] > form > .field > input {
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  color: rgb(223, 189, 146);
  /* -- */
  border-radius: 0px;
  padding: 15px;
}

.cont-index-forms > div[class*='cont-'] > form > button {
  margin-top: 15px;
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  color:  rgb(223, 189, 146);
  background-color: #3c2c17;
  border: 0px;
  transition: 0.5s;
}

.cont-index-forms > div[class*='cont-'] > form > button:hover {
  background-color: #1c0f03;
  color: #FFF;
}


/* -- Footer -- */
footer {
  background-color: rgba(50, 50, 50, 0.8);
}










