/*
 * CSS Patrociname
 */

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:500i|Righteous|Varela+Round&display=swap');

/*
 * font-family: 'Righteous', cursive;
 * font-family: 'Varela Round', sans-serif;
 * font-family: 'Kanit', sans-serif;
 */

body {  padding: 0px;  margin: 0px;  border: 0px; }

/* Contenedores Principales */
.cont-all-bg-video {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

.cont-all-index {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* -- */
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 1fr;
  grid-template-columns: auto;
}

.cont-all-index > div {
}
/* -- */

header {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header > div:first-child > svg {
  width: 70px;
}

header > div:nth-child(2) > h1 {
  /*border: 1px solid red; background-color: yellow;*/
  padding: 0px;
  margin: 0px;
  font-family: 'Kanit', sans-serif;
}

header > div:nth-child(2) {
  margin-left: 15px;
}

header > div:nth-child(3) {
  margin: 13px 0px 0px 5px;;
}

header > div:nth-child(3) > h5 {
  padding: 0px;
  margin: 0px;
  font-family: 'Kanit', sans-serif;
  font-weight: lighter;
}

header > ul {
  margin-left: auto;
  /* -- */
  padding: 0px;
  display: flex;
  flex-direction: row;
}

header > ul > li {
  list-style: none;
  margin-right: 15px;
}

header > ul > li:last-of-type {
  margin-right: 0px;
}

header > ul > li > i {
  font-size: 1.8em;
}

/* -- Form Searcher Register -- */
#cont-searcher-register, #cont-searcher-login,
#cont-sponsor-register, #cont-sponsor-login { /* Important, function with JS */
  display: none;
}











